@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    color-scheme: light;

    --react-persian-form-background-primary: 245, 245, 245;
    --react-persian-form-background-secondary: 255, 255, 255;

    --react-persian-form-prose-primary: 12, 14, 16;
    --react-persian-form-prose-hint: 154, 166, 177;

    --react-persian-form-brand: 62, 136, 193;
    --react-persian-form-info: 45, 144, 210;
    --react-persian-form-success: 21, 151, 84;
    --react-persian-form-warning: 208, 124, 6;
    --react-persian-form-danger: 197, 50, 17;
    --react-persian-form-gray: 39, 41, 55;
}

html.dark {
    color-scheme: dark;

    --react-persian-form-background-primary: 18, 18, 18;
    --react-persian-form-background-secondary: 31, 31, 31;

    --react-persian-form-prose-primary: 245, 245, 245;
    --react-persian-form-prose-hint: 109, 109, 109;

    --react-persian-form-brand: 62, 136, 193;
    --react-persian-form-info: 45, 144, 210;
    --react-persian-form-success: 21, 151, 84;
    --react-persian-form-warning: 208, 124, 6;
    --react-persian-form-danger: 197, 50, 17;
    --react-persian-form-gray: 244, 244, 244;
}

@theme {
    /** :::: colors :::: */
    --color-background-primary: rgb(var(--react-persian-form-background-primary));
    --color-background-secondary: rgb(var(--react-persian-form-background-secondary));

    --color-prose-primary: rgb(var(--react-persian-form-prose-primary));
    --color-prose-hint: rgb(var(--react-persian-form-prose-hint));

    --color-brand: rgb(var(--react-persian-form-brand));
    --color-info: rgb(var(--react-persian-form-info));
    --color-success: rgb(var(--react-persian-form-success));
    --color-warning: rgb(var(--react-persian-form-warning));
    --color-danger: rgb(var(--react-persian-form-danger));
    --color-gray: rgb(var(--react-persian-form-gray));

    /** :::: typography :::: */
    --text-label3: 0.8125rem;
    --text-label3--line-height: 1.1375rem;
    --text-label3--font-weight: 400;

    --text-caption2: 0.6875rem;
    --text-caption2--line-height: 1.125rem;
    --text-caption2--font-weight: 400;

    /** :::: shadows :::: */
    --shadow-focus-brand:
        0px 0px 0px 1px rgb(var(--react-persian-form-background-primary)),
        0px 0px 0px 4px rgba(var(--react-persian-form-brand), 0.14);
    --shadow-focus-info:
        0px 0px 0px 1px rgb(var(--react-persian-form-background-primary)),
        0px 0px 0px 4px rgba(var(--react-persian-form-info), 0.14);
    --shadow-focus-success:
        0px 0px 0px 1px rgb(var(--react-persian-form-background-primary)),
        0px 0px 0px 4px rgba(var(--react-persian-form-success), 0.14);
    --shadow-focus-warning:
        0px 0px 0px 1px rgb(var(--react-persian-form-background-primary)),
        0px 0px 0px 4px rgba(var(--react-persian-form-warning), 0.14);
    --shadow-focus-danger:
        0px 0px 0px 1px rgb(var(--react-persian-form-background-primary)),
        0px 0px 0px 4px rgba(var(--react-persian-form-danger), 0.14);
    --shadow-focus-gray:
        0px 0px 0px 1px rgb(var(--react-persian-form-background-primary)),
        0px 0px 0px 4px rgba(var(--react-persian-form-danger), 0.06);
}
